/* Cambiar el color del fondo de todo el sitio */
body {
    background-color: #000000; /* Cambia este valor por el color deseado */
}

/* Cambiar el color del texto */
body, h1, h2, h3, p {
    color: #333333; /* Cambia este valor por el color deseado */
}

/* Cambiar el color del fondo de los encabezados */
h1, h2, h3 {
    background-color: #4CAF50; /* Cambia este valor por el color deseado */
    color: white; /* Cambia el color del texto dentro del encabezado */
}

/* Cambiar el color de los enlaces */
a {
    color: #2196F3; /* Cambia este valor por el color deseado */
}

/* Cambiar el color de fondo de los enlaces al pasar el mouse */
a:hover {
    background-color: #ddd; /* Cambia este valor por el color deseado */
}
