---
layout: default
---
Hello everyone! In this space, I want to share my experiences, lessons learned, and challenges faced in the different subjects I am studying. Each post will focus on a specific subject, highlighting the practical work we’ve done, the objectives we aim to achieve, and the tools we use to make it happen. If you’re studying something similar or are simply curious, this blog is for you. Let’s explore together!

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
</div>

